body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    text-align: center;
}

.nav-links li {
    display: inline;
    margin: 0 1em;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

#content {
    background-color: #fff;
    padding: 2em;
    margin-top: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quick-guide {
    background-color: #fff;
    padding: 2em;
    margin-top: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.guide-section {
    margin-bottom: 1em;
}

.code-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    background-color: #f1f1f1;
    padding: 0.5em;
    border-radius: 5px;
    position: relative;
}

.code-block code {
    margin: 0;
    padding: 0;
}

.copy-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    margin-left: 0.5em;
    position: absolute;
    right: 0.5em;
}

.copy-btn i {
    font-size: 1em;
}

.github-info {
    margin-top: 1em;
}

.github-info a {
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
}

.github-info a:hover {
    text-decoration: underline;
}
